<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pokedex</title>
    <link rel="stylesheet" href="./main.css">
    <script type="module" src="./main.js" defer></script>
</head>
<body>
    <img src="./pokedex.png" alt="" class="pokedex">
    <main>
        <div class="card">
            <img src="" alt="" class="pokemon">
        </div>
        <div id="name">
            <p class="nome-no-card"></p>
        </div>
        
        <div id="espaço-da-pesquisa">
            <input type="search" placeholder="number or name" id="pesquisa">
            <button id="button-ent">ENT</button>
        </div>
        

        <div id="tela-de-movimentos">
            <div class="organizar">
                <div id="move1"></div>
                <div id="move2"></div>
            </div>
            <div class="organizar">
                <div id="move3"></div>
                <div id="move4"></div>
            </div>
        </div>
        <div id="buttons">
            <button id="button-anterior">ANT</button>
            <button id="button-audio">AUDIO</button>
            <button id="button-next">NEXT</button>
        </div>
    </main>
</body>
</html>